.modal {
    opacity: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    pointer-events: none;
}

.modal__active {
    opacity: 1;
    pointer-events: auto;
}

.modal__wrap {
    margin: 10%;
}